
<html>
 <head>
   <title>MRPI CONTROL PANEL</title>
 </head>
 <body>
<button id = "esp_connect" style="height:40px;width:80px">
	Connect to ESP
	</button>
<span> Data from ESP: </span>
<span id = "esp_data"></span>
<p>
</p>
<div>
<button id = "esp_getdata" style="height:60px;width:80px">
	Start ESP data stream
</button>
<button id = "esp_stop" style="height:60px;width:80px">
	Stop ESP data stream
</button>
</div>
<div align="center">
<button id = "connect" style="height:40px;width:80px">
        Connect
    </button>
<button id = "disconnect" style="height:40px;width:80px">
        Disconnect
    </button>
</div>
<div align="center">
<img src="http://127.0.0.1:8888/">
</div>
<div align="center">
<div>
<button id="start_sonar"> Start_sonar </button>
<span> range is : </span>
<span id="myspan">  </span>
<button id="stop_sonar"> Stop_sonar </button>
</div>
<button class="command command-{{ command }}" value="{{'forward'}}" style="height:60px;width:60px">
        forward 
    </button>
</div>
<br>
<div align="center">
<button class="command command-{{ command }}" value= "{{ 'left' }}" style="height:60px;width:60px">
        left
    </button>
<button class="command command-{{ command }}" value="{{'backward'}}" style="height:60px;width:75px">
        backward 
    </button>
<button class="command command-{{ command }}" value="{{'right'}}" style="height:60px;width:60px">
        right
    </button>
</div>
<script>
// Only run what comes next *after* the page has loaded
var xhr = new XMLHttpRequest();
var movrqst = new XMLHttpRequest();
var esp = new XMLHttpRequest();
var btn_start = document.getElementById("start_sonar");
var btn_stop = document.getElementById("stop_sonar");
var btn_connect = document.getElementById("connect");
var esp_getdata = document.getElementById("esp_getdata");
var esp_stop = document.getElementById("esp_stop");
var esp_connect = document.getElementById("esp_connect");
var btn_disconnect = document.getElementById("disconnect");
var sonar_trigger = 0;
var esp_trigger = 0;
esp_getdata.addEventListener("click", function(e) {
esp_trigger = 1;
e.preventDefault();
espgetdata();
});
esp_stop.addEventListener("click", function(e) {
e.preventDefault();
esp_trigger = 0;
});
esp_connect.addEventListener("click", function(e) {
esp.open("GET", "/espconnect", true);
esp.send();
});
btn_start.addEventListener("click", function(e) {
sonar_trigger = 1;
e.preventDefault();
sendshit();
});
btn_stop.addEventListener("click", function(e) {
e.preventDefault();
sonar_trigger = 0;
});
btn_connect.addEventListener("click", function(e) {
movrqst.open("GET", "/connect", true);
movrqst.send();
});
btn_disconnect.addEventListener("click", function(e) {
movrqst.open("GET", "/disconnect", true);
movrqst.send();
});
function handle(response) {
if (this.readyState == 4 && this.status == 200) {
document.getElementById("myspan").innerHTML = xhr.responseText;
	if (sonar_trigger == 1) sendshit();
}
}
function esphandle(response) {
if (this.readyState == 4 && this.status == 200) {
document.getElementById("esp_data").innerHTML = xhr.responseText;
	if (esp_trigger == 1) espgetdata();
}
}
function sendshit(){
	xhr.onreadystatechange = handle; 
	xhr.open("GET", "/sonar", true);
	xhr.send(); 
}
function espgetdata(){
	xhr.onreadystatechange = esphandle; 
	xhr.open("GET", "/espdata", true);
	xhr.send(); 
}
addEventListener("DOMContentLoaded", function() {
  // Grab all of the elements with a class of command
  // (which all of the buttons we just created have)
  var commandButtons = document.querySelectorAll(".command");
  for (var i=0, l=commandButtons.length; i<l; i++) {
    var button = commandButtons[i];
    // For each button, listen for the "click" event
    button.addEventListener("mousedown", function(e) {
      // When a click happens, stop the button
      // from submitting our form (if we have one)
      e.preventDefault();

      var clickedButton = e.target;
      var command = clickedButton.value;

      // Now we need to send the data to our server
      // without reloading the page - this is the domain of
      // AJAX (Asynchronous JavaScript And XML)
      // We will create a new request object
      // and set up a handler for the response
      movrqst.onload = function() {
       //
      };
      // We point the request at the appropriate command
      movrqst.open("GET", "/" + command, true);
      // and then we send it off
      movrqst.send();
    });
      button.addEventListener("mouseup", function(e) {
      // When a click happens, stop the button
      // from submitting our form (if we have one)
      e.preventDefault();

      var clickedButton = e.target;
      var command = "stop";

      // Now we need to send the data to our server
      // without reloading the page - this is the domain of
      // AJAX (Asynchronous JavaScript And XML)
      // We will create a new request object
      // and set up a handler for the response
      movrqst.onload = function() {
       //
      };
      // We point the request at the appropriate command
      movrqst.open("GET", "/" + command, true);
      // and then we send it off
      movrqst.send();
    });
 
  }
}, true);
</script>
 </body>
</html>



