<html>
  <head>
    <title>Login</title>
   <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    <div id="container">
      <div class="pagetitle">
        <h1 align="center">MRPICP</h1>
      </div>
      <div id="main" align="center">
        <form method="post" action="{{ url_for('Login') }}">
          <label for="userLogin">Username:</label>
	  <p>
	  </p>
          <input type="text" name="userLogin"><br />
	  <p>
	  </p>
          <label for="userPassword">Password:</label>
	  <p>
	  </p>
          <input type="password" name="userPassword"><br />
	  <p>
	  </p>
	  <input type="submit" value=Login>
         </form>
	</div>
      </div>
 </body>
</html>
